---
layout: default
---
<script src="js/jquery.min.js"></script>
<script src="js/bib-list.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="css/bib-publication-list.css" type="text/css" />
<link rel = "icon" href = "images/favicon.png" type = "image/x-icon"> 
<br />
<br />
<table class="display">
	<tr>
		<td>
			<h2>Journal Articles</h2>
		</td>
	</tr>
</table>
<table id="journalTable" class="display"></table>
<script type="text/javascript">
bibtexify("240226_journals_cleaned.bib", "journalTable");
</script>
<table class="display">
	<tr>
		<td>
			<h2>Conference Proceedings</h2>
		</td>
	</tr>
</table>
<table id="proceedingsTable" class="display"></table>
<script type="text/javascript">
bibtexify("240226_proceedings_cleaned.bib", "proceedingsTable");
</script>
<table class="display">
	<tr>
		<td>
			<h2>Conference Abstracts and Posters</h2>
		</td>
	</tr>
</table>
<table id="noproceedingsTable" class="display"></table>
<script type="text/javascript">
bibtexify("240226_noproceedings_cleaned.bib", "noproceedingsTable");
</script>

<br />
<center>
<h3>	
You can also find me on <a href="https://scholar.google.com/citations?user=9-eaUCMAAAAJ">Google Scholar</a>
</h3>
</center>
<br />
<br />
