---
layout: default
---
<script src="js/jquery.min.js"></script>
<script src="js/bib-list.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="css/bib-publication-list.css" type="text/css" />
<br />
<br />
<table id="pubTable" class="display"></table>
<script type="text/javascript">
bibtexify("210728_cleaned.bib", "pubTable");
</script>
<br />
<center>
<h3>	
You can also find me on <a href="https://scholar.google.com/citations?user=9-eaUCMAAAAJ">Google Scholar</a>
</h3>
</center>
<br />
<br />